@model VGEC.ViewModel.FacMentor
@{
    Layout = "~/Views/Shared/_LoginAdmin.cshtml";
}
<style>
    .row {
        margin: 1%
    }
</style>
@using (Html.BeginForm())
{

    List<int> a = new List<int>();
    int year = DateTime.Now.Year - 8;
    for (int i = year; i <= year + 8; i++)
    {
        a.Add(i);
    }

    <div class="row">
        <div class="com-sm-2">

        </div>
        <div class="com-sm-8">
            <div class="col-sm-6">
                @Html.Label("C_ID", "Class Id");
            </div>
            <div class="col-sm-6">
                @Html.DropDownList("C_ID", new SelectList(a), new { @class = "form-control" })
            </div>
        </div>
        <div class="com-sm-2">

        </div>

    </div>

    <div class="row">
        <div class="com-sm-2">

        </div>
        <div class="com-sm-8">
            <div class="col-sm-6">
                @Html.Label("UserName", "Faculty Name");
            </div>
            <div class="col-sm-6">
                <select class="form-control" name="Fac_Id">
                    @foreach (var item in Model.faculties)
                    {
                        <option value="@item.Fac_Id">@item.UserName</option>
                    }
                </select>
            </div>
        </div>
        <div class="com-sm-2">

        </div>

    </div>
    <div class="row">
        <div class="com-sm-2">

        </div>
        <div class="com-sm-8">
            <div class="col-sm-6">
                @Html.Label("Sem");
            </div>
            <div class="col-sm-6">
                @Html.DropDownList("Sem", new SelectList(new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8 }), new { @class = "form-control", @name = "Sem" })
            </div>
        </div>
        <div class="com-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="com-sm-4">

        </div>
        <div class="com-sm-4">
            <button type="submit" class="btn btn-default">Assing Mentor</button>
        </div>
        <div class="com-sm-4">

        </div>
    </div>
}

<hr />
<h1>Mentor List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Mentor Name</th>
            <th>CLass Id</th>
            <th>Semester</th>
        </tr>
    </thead>
    @if (Session["user"] != null && Model.mentors != null)
    {
        int i = 1;
        foreach (var item in Model.mentors)
        {
            <tr>
                <td>@i</td>
                <td>@item.UserName</td>
                <td>@item.C_Id</td>
                <td>@item.Sem</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Fac_Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.Fac_Id }, new { onclick = "return confirm('Are sure wants to delete?');" })</td>
            </tr>
            i++;
        }

    }
</table>